
    <!-- footer of the website  -->

    <footer>
        <div class="" id="">
            <div class="footer-row">
               <div class="footer-col">
                   <h3>Dav<psan>tech</span></h3>
                   <ul>
                    <li><a href="/#who">who we are</a></li>
                    <li><a href="/#wedo">what we do</a></li>
                    <li><a href="/portfolio">portfolio</a></li>
                    <li><a href="/contact">contact</a></li>
                    <li><a href="/quote">Get quote</a></li>
                </ul>
               </div>
               
               <div class="footer-col">
                   <h3>Social links</h3>
                   <div class="footer-links">
                       <a href=""><i class="fab fa-facebook-f"></i></a>
                       <a href=""><i class="fab fa-instagram"></i></a>
                       <a href=""><i class="fab fa-linkedin"></i></a>
                       <a href=""><i class="fab fa-twitter"></i></a>
                   </div>
               </div>
            </div>
        </div>
       <span>&copy; copyright of Davtech <%= new Date().getFullYear()  %></span>
    </footer>
    </div>

    
    <script src="index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
