<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechGenius</title>
    <!-- bootstrap css  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- awesome fonticon script  -->
    <script src="https://kit.fontawesome.com/7e2914c8cf.js" crossorigin="anonymous" defer></script>
    <script src="index.js" defer></script>
</head>
<body>
    
    <!-- PRELOADER FOR LOADING WEBSITE  -->
    <div class="preloader" id="preloader">
        <div class="loader"></div>
        <span>LOADING...</span>
    </div>
    <!-- the login for users  -->

    <div class="login-route" id="usersForm">
        <span id="close">&times;</span>
        <form action="" method="post">
        <h1>Please Sign Up</h1>
        <input type="text" name="fName" placeholder="Your Name" autocomplete="off">
        <input type="email" name="username" id="email" autocomplete="off" placeholder="Email Address">
        <input type="password" name="password" id="password" placeholder="Your Password">
        <button type="submit">Login</button>
        </form>
    </div>


        <!-- navigation bar  -->
    <nav>
        <a href="/">
            <div class="logo">
                <span>TechGenius</span>
            </div>
        </a>
        <ul id="navbar">
            <li><a href="/#who">who we are</a></li>
            <li><a href="/#wedo">what we do</a></li>
            <li><a href="/portfolio">our portfolio</a></li>
            <li><a href="/contact">contact us</a></li>
            <a class="active" href="/quote">Get a Quote</a>
            <a id="userLogin" class="users" href="javascript:void(0)"><i class="fa-solid fa-user"></i></a>
        </ul>
        <button>&#9776;</button>
    </nav>
