<div class="contact-page">
    <%- include('partials/header') -%>
    <link rel="stylesheet" href="css/contact.css">

    <div class="wrap-form">
        <div class="form-content">
        <h1>CONTACT US</h1>
        <p>If you'd like to talk to us, please use the form below to get in touch. We'd love to hear from you and someone from our team will be in touch as soon as possible.</p>
        <form action="" method="post">
            <input type="text" placeholder="Name">
            <div style="display: flex;justify-content: space-between; gap: 10px;">
            <input type="email" placeholder="Email Address" style="width: 50%;">
            <input type="tel" placeholder="Phone Number" style="width: 50%;">
            </div>
            <textarea name="" id="" cols="50" rows="15"></textarea>
            <button>Message</button>
        </form>
        </div>
        <div class="mail-address">
            <div class="mail_card">
                <i class="fa-regular fa-envelope"></i>
                <h4>GENRAL ENQUIRES</h4>
                <p>TechGenius@gmail.com</p>
            </div>
            <div class="mail_card">
                <i class="fa-regular fa-envelope"></i>
                <h4>QUOTES & PROPOSALS</h4>
                <p>TechGenius@gmail.com</p>
            </div>
            <div class="mail_card">
                <i class="fa-regular fa-envelope"></i>
                <h4>CLIENT SUPPORT</h4>
                <p>TechGenius@gmail.com</p>
            </div>
        </div>
    </div>


    <%- include('partials/footer') -%>