<div class="portfolio">
    <%- include('partials/header') -%>
    <link rel="stylesheet" href="css/portfolio.css">
    <div class="featured-project">
        <div class="wrap-project">
            <div class="project">
                <h1>PORTFOLIO</h1>
                <p>A beautiful, modern and light e-commerce website that’s easy to use yet packed with functionality. From mobile to desktop, this website is a great example of creative web design.</p>
                <a href="#project_image">MORE OF OUR WORK</a>
            </div>
            <img src="image/tem1.jpeg" alt="" class="image-top">
        </div>
        <div id="project_image">
            <div style="margin: 10px 0 3em; text-align: center;">
                <h1 style="margin-bottom: 5px;">RECENT WORK</h1>
                <p>This are samples of website we've created!!</p>
            </div>
            <div class="recent-project">
            <img src="image/tem1.jpeg" alt="our portfolio">
            <img src="image/tem2.png" alt="our portfolio">
            <img src="image/tem3.jpg" alt="our portfolio">
            <img src="image/tem4.webp" alt="our portfolio">
            <img src="image/tem5.jpg" alt="our portfolio">
            <img src="image/tem6.png" alt="our portfolio">
            <img src="image/tem7.jpeg" alt="our portfolio">
            <img src="image/tem8.png" alt="our portfolio">
            <img src="image/tem9.png" alt="our portfolio">
            <img src="image/tem10.png" alt="our portfolio">
            <img src="image/tem1.jpeg" alt="our portfolio">
            <img src="image/tem2.png" alt="our portfolio">
            <img src="image/tem3.jpg" alt="our portfolio">
            <img src="image/tem4.webp" alt="our portfolio">
            <img src="image/tem5.jpg" alt="our portfolio">
            <img src="image/tem6.png" alt="our portfolio">
            <img src="image/tem7.jpeg" alt="our portfolio">
            <img src="image/tem8.png" alt="our portfolio">
            <img src="image/tem9.png" alt="our portfolio">
            <img src="image/tem10.png" alt="our portfolio">
        </div>
        </div>
    </div>






    <%- include('partials/footer') -%>
