<div class="second-main">
<%- include('partials/header') -%>
<link rel="stylesheet" href="css/main.css">

<div class="quote">
    <div class="wrap-quote">
        <div>
        <h2>GET A QUOTE</h2>
        <p>We’re always looking for our next exciting project. Use the quote form to let us know about your project requirements and we’ll get back to you with a quote as soon as possible.</p>
        </div>
        <div class="content-quote">
            <div class="quote-card">
                <div class="quote-icon">
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div>
                <h5>1. TELL US ABOUT YOUR PROJECT</h5>
                <p>Simply use the quote form to tell us all about your project requirements, as brief or as details as you want</p>
                </div>
            </div>
            <div class="quote-card">
                <div class="quote-icon">
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div>
                <h5>2. RECEIVE A QUOTE</h5>
                <p>We’ll send you a proposal for your project, bespoke to your requirements. You can take your time to review it and request amendments if needed.</p>
                </div>
            </div>
            <div class="quote-card">
                <div class="quote-icon">
                    <i class="fa-regular fa-file-lines"></i>
                </div>
                <div><h5>3. LET US DO THE HARD WORK</h5>
                    <p>Once you’re happy with your quote, simply let us know and we’ll get started on bringing your project to life. You can sit back and relax while we do the hard work!</p></div>
            </div>
        </div>
    </div>
    <div class="wrap-quote-form">
        <h2>QUOTE FORM</h2>
        <p>Use the form below to tell us about your project</p>
        <form action="" method="post">
            <input type="text" placeholder="Name" autocomplete="on" name="name">
            <input type="email" placeholder="Email" autocomplete="on" name="email">
            <input type="tel" placeholder="Phone Address" autocomplete="on" name="number">
            <input type="url" placeholder="Current Website" autocomplete="on" name="url">
            <input type="text" placeholder="Budget" name="budget">
            <textarea spellcheck="true" id="" cols="50" rows="15" name="info"></textarea>
            <button>Send</button>
        </form>
    </div>
</div>

<%- include('partials/footer') -%>