@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;
    scroll-behavior: smooth;
}
:root{
    --textColor: rgb(221, 60, 60);
    --seconsTextColor: rgb(17, 14, 14);
    --fourtTextColor: #585858;
    --thirdTextColor: rgb(255, 255, 255);
}
/* html element tag  */
a{
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.2;
}
body,html{
    height: 100%;
    /* width: 100vw; */
}
body::-webkit-scrollbar{
    display: none;
}
body{
    overflow-x: hidden;
    --ms-overflow-style: none;
    text-size-adjust: 100%;
    scrollbar-width: none;
    overflow-y: scroll;
}
.card {
    animation: scrollIn linear;
    animation-duration: 1ms;
    animation-range: cover 0% cover 20%;
    animation-timeline: view();
}
.image-logo{
    width: 30px;
}
p{
    letter-spacing: 1px;
    text-size-adjust: 100%;
    line-height: 1.5;
    font-family: "Roboto Serif", serif;
    animation: fade linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-duration: 1ms;
}
/* ANIMATION FOR THE WEBSITE  */
h1{
    opacity: 0;
    transform: translateX(-300px);
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}
.animation{
    opacity: 1;
    transform: translateX(0);
}

/* styling the main  */
.main{
    background-image: linear-gradient(rgba(255, 255, 255, 0.756), rgba(255, 255, 255, 0.877)),url("../image/bg.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    position: relative;
}
/* PRELOADER  */
.preloader{
    position: fixed;
    background-color: rgba(255,255,255);
    z-index: 1000000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader div {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  color: var(--textColor);
}

.preloader span {
  position: relative;
  top: 0.43em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
}

.let1 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  animation: drop 1.5s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}

/* LOGIN FORM FOR THE USERS  */
.login-route{
    display: flex;
    z-index: 10000000;
    transform: scale(0);
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: all 0.6s;
    background-image: linear-gradient(rgba(10, 10, 10, 0.782),rgba(10, 10, 10, 0.771));
    position: fixed;
}
.show{
    transform: scale(1);
    transition: all 0.6s;
}
.login-route h1{
    color: #fff;
    margin-bottom: 30px;
}
.login-route form{
    top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.login-route form input{
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--textColor);
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(210, 17, 17);
    font-size: 15px;
    padding: 10px 20px;
}
.login-route button{
    padding: 10px 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #3d3c3c;
    outline: none;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid rgb(210, 17, 17);
}
.login-route span{
    color: rgb(255, 255, 255);
    font-size: 3em;
    position: absolute;
    top: 20px;
    right: 1em;
    cursor: pointer;
}

/* the navigation bar of the website  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}
nav span{
    /*font-family: "Teko", sans-serif;/ */
    padding: 0 0 0 10px;
    font-family: "Poppins", sans-serif;
}
nav .btn{
    display: none;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
nav a{
    color: #000;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
nav .active{
    background-color: var(--textColor);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--thirdTextColor);
}
nav .users{
    color: var(--textColor);
    font-size: 20px;
}
nav li{
    transition: all 0.5s;
}
nav li:hover{
    opacity: 0.5;
    transition: all 0.5s;
}
nav .logo{
    font-size: 1.03em;
}
nav .logo:hover{
    background: none;
}
/* popup ad  */
.popup{
    width: 350px;
    background-color: #ce0404b5;
    text-align: center;
    display: flex;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    color: #fff;
    top: 5em;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: transform 0.3s;
    margin: auto;
    position: absolute;
}
.popup h1{
    font-size: 20px;
}
.contact .popup h1{
    color: #fff !important;
}
/* the homepage styling  */
.main_homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    text-align: center;
}
.main_homepage h1{
    line-height: 3;
}
.main_homepage p{
    margin-top: 20px;
    font-weight: 500;
    animation: scrollIn 0.8s linear;
}
.main_homepage hr{
    border-top: 4px solid rgb(210, 17, 17);
    border-radius: 5px;
}
/* second container  */
.second_container{
    padding: 40px 10% 50px;
}
.second_container .wrap{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.second_container .content{
    max-width: 500px;
} 
.second_container h1, .third_container h1, .fort_container h1, .sixth_container h1{
    color: rgb(239, 78, 78);
    line-height: 2;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}
.second_container button{
    width: 160px;
    padding: 7px 10px;
    background-color: rgb(239, 78, 78);
    color: var(--thirdTextColor);
    margin-top: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 45px;
}
.second_container p, .third_container p, p{
    color: var(--fourtTextColor);
    line-height: 2;
    font-size: 15px;
}
.second_container .gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0 20px;
}
.gallery .card span{
    font-size: 10px;
}
.gallery .card{
    position: relative;
    width: 140px;
    transform: scale(0.89);
    height: 180px;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    color: rgb(210, 17, 17);
}
.gallery i{
    font-size: 1.5em;
}

/* third container  */
.third_container{
    padding: 30px 5%;
    /* text-align: center; */
}
.third_container .content{
    text-align: center;
    max-width: 600px;
}
.third_container .wrap_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third_container svg{
    width: 40px;
    fill: rgb(239, 78, 78);
}
.card_box h2, .card h3{
    color: rgb(239, 78, 78);
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 20px;
}
.third_container .card_box{
    display: grid;
    padding: 20px 15px;
    max-width: 250px;
    min-width: 220px;
   /* box-shadow: 0 2px 4px rgb(228, 49, 49); */
    border-radius: 10px;
    text-align: center;
    gap: 10px;
}
.third_container .wrap_card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5%;
}
.card_header i{
    font-size: 40px;
    color: rgb(239, 78, 78);
    text-align: center;
    padding: 15px 0 15px;
}

/* fort container styling  */
.fort_container{
    padding: 30px 5%;
    text-align: center;
}
.fort_container span{
    font-weight: 600;
    margin: 0 0 15px;
    color: var(--fourtTextColor);
}
.fort_container .row_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 40px 0 10px;
}
.row_wrap .card{
    box-shadow: 0 1px 3px rgba(49, 49, 49, 0.399);
    padding: 30px 40px;
    border-radius: 10px;
    /* border: 0 1px 0 1px solid (255,255,255,0.399); */
    border: none;
    transition: all 0.5s;
}
.row_wrap .card:hover{
    margin: 0 5px;
    transition: all 0.5s;
}
.fort_container .data_hr{
    /* border: 2px solid rgb(228, 49, 49); */
    margin-bottom: 15px;
    border-radius: 5px;
}
.fort_container hr{
    margin: 5px 0;
}


/* fifth container  */

.fifth_container{
    padding: 30px 5%;
    position: relative;
    text-align: center;
}
.fifth_container .fifth_wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.fifth_container .our_approach, .our_vision, .contact{
    max-width: 600px;
    background-color: var(--textColor);
    padding: 50px 5%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 35px;
    border-radius: 10px;
}
.fifth_container .our_approach p{
    color: #e6e6e6;
}
.fifth_container i{
    margin-top: 30px;
    font-size: 2.5rem;
}
.fifth_container .our_vision{
    background-color: #49c1e9!important;
}
.fifth_container .our_vision p{
    color: #e6e6e6;
}

.fifth_container .contact{
    background-color: #fff!important;
    color: var(--textColor)!important;
    box-shadow: 0 2px 1em #3d3c3c;
}
.fifth_container .contact i{
    color: var(--textColor)!important;
}
.fifth_container .contact_link{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.fifth_container .contact_link a{
    margin: px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid rgb(239, 78, 78);
    font-size: 13px;
    padding: 10px 20px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: var(--fourtTextColor);
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.fifth_container .contact_link a::before{
    content: "";
    position: absolute;
    transition: 0.7s;
    height: 100%;
    width: 0;
    background-color: var(--textColor);
    top: 0;
    left: 0;
    z-index: -1;
}
.fifth_container .contact_link a:hover:before{
    width: 100%;
}
.fifth_container .contact_link a:hover{
    color: #fff;
}

/* sixth container styling  */

.sixth_container{
    padding: 50px 5% 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.sixth_container .txt_wrap{
    max-width: 500px;
}
.sixth_container h5{
    color: var(--textColor);
    margin-top: 18px;
}
.sixth_container .carousel-inner{
    max-width: 700px;
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 8px #3d3c3c;
}

/* footer of the website  */
footer{
    display: flex;
    padding: 6px 5%;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 17, 17);
    margin-top: 40px;
}
footer span {
    padding: 10px;
    opacity: 0.5;
    color: #fff !important;
}

/* animations  */
@keyframes scrollIn {
    from{
        transform: scale(0);
        opacity: 0;
    }
}
/* this animation is meant for the paragraph */
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* this animation is for h1 to h3 for the colors to change from transparent to brownish color  */
@keyframes change {
    from{
        color: transparent;
    }
    to{
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
}


/* MEDIA QUERIES  1000px*/

@media screen and (max-width: 1000px){
    /* POPUP AD  */
    .popup{
        top: 5em;
    }
    nav{
        background-image: linear-gradient(rgb(231, 76, 76), rgb(231, 76, 76));
        padding: 14px 5%;
        box-shadow: 0 0 7px 0 #fff;
        z-index: 10000;
    }
    nav a{
        font-size: 11px;
        color: #fff;
    }
    nav .active{
        font-size: 11px;
    }
    nav .users{
        color: #fff;
    }
    /* HOMEPAGE  */
    .main_homepage h1{
        line-height: 3;
        font-size: 25px;
    }
    .main_homepage p{
        font-size: 13px;
    }
        /* FIFTH CONTAINER  */
        .fifth_container img{
            width: 100%;
        }
    
}


/* MEDIA QUERIES  800px*/

@media screen and (max-width: 800px) {

    p{
        font-size: 12px;
    }

      /* POPUP AD  */
    .popup{
        top: 4em;
    }

    /* NAV  */
    nav {
    position: fixed;
    width: 100%;
    padding: 6px 5%;
    }
    nav ul{
        display: block;
        position: fixed;
        top: 3em;
        right: 0;
        height: 100dvh;
        padding: 50px 0;
        width: 0;
        transition: width 0.5s;
        z-index: 10000;
        overflow: hidden;
        background-image: linear-gradient(rgb(231, 76, 76), rgb(231, 76, 76));
    }
    nav .open{
        width: 200px;
        transition: width 0.5s;
    }
    nav .btn{
        display: inline-block;
        cursor: pointer;
        background: transparent;
    }
    .line1,
    .line2,
    .line3{
      width: 25px;
      height: 3px;
      border-radius: 30px;
      background: #fff;
      margin: 5px 0;
      transition: 0.3s;
    }
    .times .line1{
      transform: translate(0px, 6px) rotateZ(45deg);
    }
    .times .line2{
      opacity: 0;
    }
    .times .line3{
      transform: translate(0px, -12px) rotateZ(-45deg);
    }
    nav ul a{
        display: block;
        padding: 10px 0 10px 30px;
        font-size: 13px;
    }
    nav a:hover{
        color: var(--textColor);
        transition: 0.6s;
        background: rgba(255,255,255,0.955);
    }
    nav .active{
        padding-left: 33px;
        font-size: 17px;
    }
    nav .active:hover{
        background-color: rgb(195, 27, 27);
    }
    nav .users{
        position: absolute;
        padding-top: 20px;
        bottom: 5em;
        display: block;
        width: 100%;
        font-size: 15px;
    }

    /* MAIN HOMEPAGE  */

    .main_homepage h1{
        line-heightbody {
          
        }: 2;
        font-size: 20px;
    }
    .main_homepage P{
        font-size: 10px;
        padding: 0 5px;
    }

    .main_homepage hr{
        border-top: 2px solid rgb(210, 17, 17);
    }
    /* FOURTH */
    
    .row_wrap .card{
      width: 100%;
      margin: 0;
    }

    /* FOOTER  */

    footer span {
        padding: 10px;
        font-size: 11px;
        opacity: 0.6;
        color: #fff !important;
    }
}
